@model baptismOfFire.Models.Deployment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Deployment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Certificate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Certificate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Server)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Server)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
